<launch>
  <!-- Load Global Parameters for Leo -->
  <rosparam command="load" file="$(find leo_sim)/param/leo.yaml"/>

  <!-- Launch Gazebo Simulator -->
  <include file="$(find rosflight_sim)/launch/base.launch">
    <arg name="mav_name" value="leo"/>
    <arg name="color" value="Red"/>
    <arg name="x" value="0"/>
    <arg name="y" value="0"/>
    <arg name="z" value="0.1"/>
    <arg name="yaw" value="0"/>
    <arg name="paused" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="verbose" value="true"/>
    <arg name="debug" value="false"/>
    <arg name="xacro_file" value="$(find leo_sim)/xacro/leo.urdf.xacro"/>
    <arg name="param_file" value="$(find leo_sim)/param/leo.yaml"/>
    <arg name="world_file" value="$(find leo_sim)/worlds/light_sim.world"/>
  </include>

  <!-- ROSflight_IO -->
  <node name="rosflight_io" pkg="rosflight" type="rosflight_io" output="screen">
    <param name="udp" value="true"/>
  </node>

  <!-- RC Simulation -->
  <node name="rc_joy" pkg="rosflight_joy" type="rc_joy">
  <!-- <node name="dummy_rc" pkg="rosflight_utils" type="rc_sim"> -->
    <remap from="RC" to="leo/RC"/>
  </node>

</launch>
